@import "~app/mixins.scss";

.doubleClick,
.doubleClick *{
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    text-align: inherit;
    padding: 0;
    margin: 0;
    color: inherit;
    background: transparent;
    width: 100%;
    height: auto;
    display: inline;

    span, input{
        padding: 0;
        margin: 0;
        width: 100%;
        resize: none;
    }

    span{
        padding: toRem(15);
    }

    input{        
        &:focus{
            padding: toRem(15);
            color: var(--admin-black-color);
        }
    }
}