@import "~app/mixins.scss";

.dashboardheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(6) toRem(11);
    position: sticky;
    top: 0;
    background: var(--primary-background);
    z-index: 5;
}

.left,
.right{
    display: flex;
    align-items: center;
}

.left{
    img{
        object-fit: cover;
        object-position: center;
        margin-right: toRem(8);
    }

    h4{
        font-size: toRem(20);
    }
}

.right{
    margin-left: toRem(10);
    
    button{
        border-radius: 50px;
        background: var(--yellow-button);
        padding: toRem(9) toRem(30);
        color: var(--black-color);
        text-align: center;
        font-size: toRem(20);
        font-weight: 700;
        line-height: 1.6;
    }
}