@import "~/app/mixins.scss";

main{
    .loginstep{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: toRem(10);
        flex: 1 1 auto;

        .wrapper{
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 100%;
        }

        button.back{
            display: inline-block;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
        }

        h4{
            font-size: toRem(20);
            position: relative;
            bottom: 22px;
        }

        p{
            font-size: toRem(20);
            line-height: 1.6;
            margin-bottom: toRem(50);
        }

        small{
            font-size: toRem(14);
            line-height: 1.6;
            margin-top: toRem(7);
            margin-bottom: toRem(15);
            display: block;
        }
    }

    .stepfirst{
        button.back{
            margin-bottom: 0;
        }
        button{
            margin-bottom: toRem(30);
        }

        .phone{
            display: flex;
            align-items: center;
            width: 100%;
            direction: ltr;
        }

        input{
            padding: 0 toRem(9);
            background: transparent;
            border-bottom: 1px solid var(--text-color);
            display: block;

            font-size: toRem(20);
            line-height: 1.6;
        }
        
        #phone__code{
            margin-right: toRem(13);
            flex: 0 0 75px;

            input{
                width: 75px;
                text-align: right;
            }
        }

        #phone__number{
            flex: 1 1 auto;
            display: flex;

            input{
                text-align: center;
                flex: 1 1 auto;
                width: 100%;
            }
        }
    }

    .stepsecond{
        .timer{
            width: 100%;

            p{
                margin-bottom: 0;
                margin-top: toRem(10);
                font-size: toRem(14);
            }
        }

        .code-input{
            display: flex;
            margin-bottom: toRem(11);
            justify-content: center;
            width: 100%;
            
            input{
                max-width: 75px;
                width: 100%;
                display: block;
                background: transparent;
                border-bottom: 1px solid var(--text-color);
                padding: 0 toRem(9);
                margin: 0 toRem(4);
                text-align: center;

                font-size: toRem(35);
                line-height: 1.6;
            }
        }

        #resendCode{
            font-size: toRem(14);
            text-align: center;
            line-height: 1.6;
            text-decoration-line: underline;
        }

        small{
            margin-top: toRem(10);
            margin-bottom: 0;

            a{
                text-decoration: underline;
            }
        }
    }

    .stepthird{
        &>button{
            margin-bottom: toRem(30);
        }

        input[type="mail"]{
            background: transparent;
            border-bottom: 1px solid var(--text-color);
            padding: toRem(5) toRem(10);
            width: 100%;

            color: var(--text-color);
            font-family: var(--client-font-family);
            font-size: toRem(20);
            line-height: 1.6;
            margin-bottom: toRem(20);
        }

        label{
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: toRem(15);

            span{
                color: var(--text-color);
                font-family: var(--client-font-family);
                font-size: toRem(15);
                line-height: 1.6;
                text-align: left;
                display: inline-block;
                margin-left: toRem(10);
            }

            input[type="checkbox"]{
                appearance: none;
                position: relative;

                &::before{
                    content: "";
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: var(--white-color);
                    border-radius: 4px;
                    cursor: pointer;
                    border: 1px solid var(--gray-color);
                }

                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 10px;
                    width: 6px;
                    height: 14px;
                    border: solid var(--admin-black-color);
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                &:checked::after{
                    opacity: 1;
                }
            }
        }
    }

    .stepfourth{
        .wrapper{
            &>h4{
                bottom: 22px;
                max-width: 230px;
                width: 100%;
            }
        }

        &>button{
            margin-bottom: toRem(30);
        }

        &>a{
            margin-bottom: toRem(35);
        }

        input{
            background: transparent;
            padding: 0 toRem(5);
            border-bottom: 1px solid var(--text-color);
            color: var(--text-color);
            font-size: toRem(20);
            line-height: 1.6;
            text-align: center;
            width: unset;

            &::placeholder{
                color: var(--text-color);
            }
        }

        h4{
            bottom: 0;
        }

        label{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: toRem(30);

            h4{
                text-align: left;
            }

            input{
                text-align: left;
            }
        }

        .stepfourth__age{
            width: 100%;
            text-align: left;

            .stepfourth__age-inputs{
                display: flex;
                width: 100%;
                justify-content: space-between;
                direction: ltr;

                input{
                    max-width: 80px;
                    margin: toRem(5);
                }
            }
        }

        &.rtl{
            label{
                h4{
                    text-align: right;
                }
            }

            .stepfourth__age{
                h4{
                    text-align: right;
                }
            }
        }

    }

    .stepfifth{

        &>button{
            margin-bottom: toRem(30);
        }

        h2{
            font-size: toRem(40);
            margin-bottom: toRem(60);
        }

        .stepfifth__blocks{
            .stepfifth__item{
                display: flex;
                max-width: 290px;
                width: 100%;
                text-align: left;
                margin-bottom: toRem(40);

                &:last-of-type{
                    margin-bottom: toRem(20);
                }

                img{
                    margin-right: toRem(24);
                }

                h3{
                    font-size: toRem(24);
                    margin-bottom: toRem(8);
                }

                p{
                    margin-bottom: 0;
                    font-size: toRem(18);
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: 0.2px;
                }
            }
        }

        &.rtl{
            .stepfifth__blocks{
                .stepfifth__item{
                    text-align: right;

                    img{
                        margin-left: toRem(24);
                        margin-right: 0;
                    }
                }
            }
        }
    }
}