@import "~/app/mixins.scss";

.login{
    height: 100%;
    display: flex;
    flex-direction: column;

    .loginstep{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        flex: 1 1 auto;

        .wrapper{
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 100%;
        }
    }
    button.back{
        display: inline-block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }

    h4{
        font-size: toRem(20);
        position: relative;
        bottom: 22px;
    }

    p{
        font-size: toRem(20);
        line-height: 160%;
        margin-bottom: 50px;
    }

    small{
        font-size: toRem(14);
        line-height: 160%;
        margin-top: 7px;
        margin-bottom: 15px;
        display: block;
    }

    .stepfirst{
        button.back{
            margin-bottom: 0;
        }
        button{
            margin-bottom: 30px;
        }

        .phone{
            display: flex;
            align-items: center;
            width: 100%;
        }

        input{
            padding: 0 9px;
            background: transparent;
            border-bottom: 1px solid var(--text-color);
            display: block;

            font-size: toRem(20);
            line-height: 160%;
        }
        
        #phone__code{
            margin-right: 13px;
            flex: 0 0 48px;

            input{
                width: 48px;
                text-align: right;
            }
        }

        #phone__number{
            flex: 1 1 auto;
            display: flex;

            input{
                text-align: center;
                flex: 1 1 auto;
                width: 100%;
            }
        }
    }

    .stepsecond{
        &>button{
            margin-bottom: 10px;
        }

        .timer{
            width: 100%;

            p{
                margin-bottom: 0;
                margin-top: 10px;
                font-size: toRem(14);
            }
        }

        .code-input{
            display: flex;
            margin-bottom: 11px;
            width: 100%;
            
            input{
                max-width: 75px;
                width: 100%;
                display: block;
                background: transparent;
                border-bottom: 1px solid var(--text-color);
                padding: 0 9px;
                margin: 0 4px;
                text-align: center;

                font-size: toRem(35);
                line-height: 160%;
            }
        }

        #resendCode{
            font-size: toRem(14);
            text-align: center;
            line-height: 160%;
            text-decoration-line: underline;
        }

        small{
            margin-top: 0px;
            margin-bottom: 10px;

            a{
                text-decoration: underline;
            }
        }
    }

    .stepthird{
        .wrapper{
            &>h4{
                bottom: 22px;
                max-width: 230px;
                width: 100%;
            }
        }

        &>button{
            margin-bottom: 35px;
        }

        input{
            background: transparent;
            padding: 0 5px;
            border-bottom: 1px solid var(--text-color);
            color: var(--text-color);
            font-size: toRem(20);
            line-height: 160%;
            text-align: center;
            width: unset;

            &::placeholder{
                color: var(--text-color);
            }
        }

        h4{
            margin-bottom: 10px;
            bottom: 0;
        }

        label{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 30px;

            h4{
                text-align: left;
            }

            input{
                text-align: left;
            }
        }

        .stepthird__age{
            width: 100%;
            text-align: left;

            .stepthird__age-inputs{
                display: flex;
                width: 100%;
                justify-content: space-between;

                input{
                    max-width: 80px;
                    margin: 5px;
                }
            }
        }

    }

    .stepfourth{

        &>button{
            margin-bottom: 35px;
        }

        h2{
            font-size: toRem(40);
            margin-bottom: 60px;
        }

        .stepfourth__blocks{
            .stepfourth__item{
                display: flex;
                max-width: 290px;
                width: 100%;
                text-align: left;
                margin-bottom: 40px;

                &:last-of-type{
                    margin-bottom: 20px;
                }

                img{
                    margin-right: 24px;
                }

                h3{
                    font-size: toRem(24);
                    margin-bottom: 8px;
                }

                p{
                    margin-bottom: 0;
                    font-size: toRem(18);
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}
