@import "~/app/mixins.scss";

.login{
    height: 100%;
    display: flex;
    flex-direction: column;

    .loginstep{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: toRem(10);
        flex: 1 1 auto;

        .wrapper{
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 100%;
        }
    }
    button.back{
        display: inline-block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }

    h4{
        font-size: toRem(20);
        position: relative;
        bottom: 22px;
    }

    p{
        font-size: toRem(20);
        line-height: 1.6;
        margin-bottom: toRem(50);
    }

    small{
        font-size: toRem(14);
        line-height: 1.6;
        margin-top: toRem(7);
        margin-bottom: toRem(15);
        display: block;
    }

    .stepfirst{
        button.back{
            margin-bottom: 0;
        }
        button{
            margin-bottom: toRem(30);
        }

        .phone{
            display: flex;
            align-items: center;
            width: 100%;
        }

        input{
            padding: 0 toRem(9);
            background: transparent;
            border-bottom: 1px solid var(--text-color);
            display: block;

            font-size: toRem(20);
            line-height: 1.6;
        }
        
        #phone__code{
            margin-right: toRem(13);
            flex: 0 0 48px;

            input{
                width: 48px;
                text-align: right;
            }
        }

        #phone__number{
            flex: 1 1 auto;
            display: flex;

            input{
                text-align: center;
                flex: 1 1 auto;
                width: 100%;
            }
        }
    }

    .stepsecond{
        &>button{
            -bottom: 10px;
        }

        .timer{
            width: 100%;

            p{
                margin-bottom: 0;
                margin-top: toRem(10);
                font-size: toRem(14);
            }
        }

        .code-input{
            display: flex;
            margin-bottom: toRem(11);
            width: 100%;
            
            input{
                max-width: 75px;
                width: 100%;
                display: block;
                background: transparent;
                border-bottom: 1px solid var(--text-color);
                padding: 0 toRem(9);
                margin: 0 toRem(4);
                text-align: center;

                font-size: toRem(35);
                line-height: 1.6;
            }
        }

        #resendCode{
            font-size: toRem(14);
            text-align: center;
            line-height: 1.6;
            text-decoration-line: underline;
        }

        small{
            margin-top: 0;
            margin-bottom: toRem(10);

            a{
                text-decoration: underline;
            }
        }
    }

    .stepthird{
        .wrapper{
            &>h4{
                bottom: 22px;
                max-width: 230px;
                width: 100%;
            }
        }

        &>button{
            margin-bottom: toRem(35);
        }

        input{
            background: transparent;
            padding: 0 toRem(5);
            border-bottom: 1px solid var(--text-color);
            color: var(--text-color);
            font-size: toRem(20);
            line-height: 1.6;
            text-align: center;
            width: unset;

            &::placeholder{
                color: var(--text-color);
            }
        }

        h4{
            -bottom: 10px;
            bottom: 0;
        }

        label{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: toRem(30);

            h4{
                text-align: left;
            }

            input{
                text-align: left;
            }
        }

        .stepthird__age{
            width: 100%;
            text-align: left;

            .stepthird__age-inputs{
                display: flex;
                width: 100%;
                justify-content: space-between;

                input{
                    max-width: 80px;
                    margin: toRem(5);
                }
            }
        }

    }

    .stepfourth{

        &>button{
            margin-bottom: toRem(35);
        }

        h2{
            font-size: toRem(40);
            margin-bottom: toRem(60);
        }

        .stepfourth__blocks{
            .stepfourth__item{
                display: flex;
                max-width: 290px;
                width: 100%;
                text-align: left;
                margin-bottom: toRem(40);

                &:last-of-type{
                    margin-bottom: toRem(20);
                }

                img{
                    margin-right: toRem(24);
                }

                h3{
                    font-size: toRem(24);
                    margin-bottom: toRem(8);
                }

                p{
                    margin-bottom: 0;
                    font-size: toRem(18);
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}
