@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "~app/mixins.scss";

html{

	&.rtl{
		direction: rtl;

		*{
			font-family: var(--he-font-family);
		}
	}

	*{
		box-sizing: border-box;
		font-family: inherit;
	}

	body{
		background: var(--primary-background);
		height: 100vh;
		display: flex;
		flex-direction: column;
		color: var(--text-color);
		font-family: var(--client-font-family);
	}

	ol {
		list-style: decimal;
	}

	h1,h2,h3,h4,h5,h6{
		font-weight: 700;
		line-height: 1.6;
	}

	a{
		color: inherit;
		text-decoration: none;
		font-size: inherit;
	}

	button{
		border: none;
		font-family: inherit;
		cursor: pointer;
		border: none;
		background: transparent;
		color: inherit;
		line-height: normal;
		-webkit-font-smoothing: inherit;
		-moz-osx-font-smoothing: inherit;
		-webkit-appearance: none;
	}

	input,
	input:focus {
		outline: none;
		border:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
	}
	
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}

	main{
		display: flex;
		height: 100%;
		width: 100%;
		max-width: var(--max-width);
		margin-inline: auto;
	}
}
//RESET CSS END

:root{
    --primary-background: #F2E8DE;
    --text-color: #4B3734;
    --button-background: #B79A81;
    --button-color: #fff;
	--gray-color: #eee;
	--yellow-button: #EECE6D;
	--black-color: #000;
	--white-color: #fff;
	--progress-color: #FD8679;
	--redeem-color: #14BEA4;
	--validation-color: #FF5A5F;
	--prize-about-color: rgba(75, 55, 52, 0.80);
	--active-prize-shadow-color: #FD867940;
	--slot-bg-color: #FEFAEF;
	--slot-border-color: #FA920E;

	--swipeuse-bg: #12D18E;
	--swipeuse-gradient-second: #C4FAE7;
	--swipeuse-btn-color-first: #019B83; 
	--swipeuse-btn-color-second: #18C6AB; 

	--dashboard-code-color: #FFFFFFB2;
	--dashboard-code-error-first: rgba(255, 90, 95, 0.8);
	--dashboard-code-error-second: rgba(255, 138, 155, 0.8);
	--dashboard-code-success-first: rgba(18, 209, 142, 0.8);
	--dashboard-code-success-second: rgba(113, 227, 187, 0.8);
	--dashboard-code-input-border-color: rgba(68, 61, 58, 0.00);
	--dashboard-code-input-bg-color: rgba(161, 147, 141, 0.80);

	--steps-circles-bgcolour: #ebd3c1;
	--simple-btn-bg: rgba(138, 70, 51, 0.25);

	--max-width: 420px;

	--client-font-family: var(--font-nunito);

	--loading-font-family: var(--font-urbanist);
	--loading-color: #B79A81;

	--prize-gradient: linear-gradient(147deg, #F9910D 57.32%, #FFDD75 90.3%);
	--back-home-btn-gradient: linear-gradient(286deg, #B79A81 0%, #EBD3C1 100%);
	--slot-reel-bg-gradient: linear-gradient(180deg, #D9D9D9 -0.06%, #FFF 29.84%, #FEFEFE 71.52%, #D9D9D9 100.06%);

	--admin-text-color: #212121;
	--admin-black-color: #1C1C1C;
	--admin-heading-font-family: var(--font-urbanist);
	--admin-menu-shadow: rgba(0, 0, 0, 0.05);
	--admin-icon-blure: rgb(84, 84, 84);
	--admin-menu-text-color: #545454;
	--admin-text-font-family: var(--font-inter);
	--admin-statistic-block-odd: #E3F5FF;
	--admin-statistic-block-even: #E5ECF6;
	--admin-chart-bg: #F7F9FB;
	--admin-second-font-family: var(--font-poppins);
	--admin-btn-bg: #D9D9D9;
	--admin-checkbox-border-color: #6C757D;
	--admin-table-heading-font-family: var(--font-roboto);
	--admin-border-silver: #DFDFDF;
	--admin-th-color: #343A40;
	--admin-border-light-silver: #EAEAEA;
	--admin-second-heading-color: #666;
	--admin_links-color: #0038FF;

	--he-font-family: var(--font-rubik);
}

#welcomeLogo{
    object-fit: contain;
}

.Toastify{
	.Toastify__toast-theme--colored.Toastify__toast--default, .Toastify__toast-theme--light{
		background: var(--button-background);
		color: var(--button-color);
		font-size: toRem(16);
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
	}

	.Toastify__close-button>svg{
		fill: var(--button-color);
	}
}