@import "~app/mixins.scss";

.dashboardCode{
    background: #FFFFFFB2;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: var(--max-width);
    transform: translate(-50%, 0);
    padding: toRem(10) toRem(22) toRem(25);
    transition: background 0.5s linear;

    h5{
        font-size: toRem(22);
        margin-bottom: toRem(8);
    }

    &.red{
        background: linear-gradient(286.17deg, rgba(255, 90, 95, 0.8) 0%, rgba(255, 138, 155, 0.8) 100%);

        .dashboardInputs{
            animation: redAnim 0.5s ease-in-out;
            position: relative;
        }
    }

    &.green{
        background: linear-gradient(286.17deg, rgba(18, 209, 142, 0.8) 0%, rgba(113, 227, 187, 0.8) 100%);
    }
}

.dashboardInputs{
    display: flex;
    justify-content: space-between;

    input{
        max-width: 74px;
        width: 100%;
        height: 63px;
        border-radius: 16px;
        border: 1px solid rgba(68, 61, 58, 0.00);
        background: rgba(161, 147, 141, 0.80);
        margin-right: toRem(5);
        text-align: center;
        color: var(--white-color);
        font-size: toRem(28);
        font-weight: 700;
        line-height: 1.6;

        &:last-child{
            margin-right: 0;
        }
    }
}

@keyframes redAnim {
    0% {
        left: 0;
    }
    20%{
        left: -5px;
    }
    40%{
        left: 5px;
    }
    60%{
        left: -5px;
    }
    80%{
        left: 5px;
    }
    100%{
        left: 0;
    }
}