@import "~/app/mixins.scss";

.login{
    height: 100%;
    display: flex;
    flex-direction: column;

    .loginstep{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: toRem(10);
        flex: 1 1 auto;

        .wrapper{
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }
    }
    button.back{
        display: inline-block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }

    h4{
        font-size: toRem(20);
        font-weight: 700;
        line-height: 1.6;
        position: relative;
        bottom: 22px;
    }

    p{
        font-size: toRem(20);
        line-height: 1.6;
        margin-bottom: toRem(50);
    }

    small{
        font-size: toRem(14);
        line-height: 1.6;
        margin-top: toRem(7);
        margin-bottom: toRem(15);
        display: block;
    }

    .stepfirst{
        button.back{
            margin-bottom: 0;
        }
        button{
            margin-bottom: toRem(30);
        }

        .phone{
            display: flex;
            align-items: center;
        }

        input{
            padding: 0 toRem(9);
            background: transparent;
            border-bottom: 1px solid var(--text-color);
            display: block;

            font-size: toRem(20);
            line-height: 1.6;
        }
        
        #phone__code{
            margin-right: toRem(13);
            flex: 0 0 48px;

            input{
                width: 48px;
                text-align: right;
            }
        }

        #phone__number{
            flex: 1 1 auto;

            input{
                text-align: center;
            }
        }
    }

    .stepsecond{
        &>button{
            margin-bottom: toRem(10);
        }

        .code-input{
            display: flex;
            margin-bottom: toRem(11);
            
            input{
                width: 75px;
                display: block;
                background: transparent;
                border-bottom: 1px solid var(--text-color);
                padding: 0 toRem(9);
                margin: 0 toRem(4);
                text-align: center;

                font-size: toRem(35);
                line-height: 1.6;
            }
        }

        #resendCode{
            font-size: toRem(14);
            text-align: center;
            line-height: 1.6;
            text-decoration-line: underline;
        }

        small{
            margin-top: 0;
            margin-bottom: toRem(10);

            a{
                text-decoration: underline;
            }
        }
    }
}
