@import "~app/mixins.scss";

.user{
    margin-top: toRem(55);

    .top{
        display: flex;
        align-items: center;
        margin-bottom: toRem(15);

        h2{
            font-size: toRem(36);
            line-height: 1.1;
            text-transform: capitalize;
            font-family: var(--admin-heading-font-family);
            font-weight: 400;
        }

        button{
            padding: toRem(3) toRem(18);
            font-family: var(--admin-second-font-family);
            font-size: toRem(14);
            line-height: 22px;
            color: var(--black-color);
            background: var(--admin-btn-bg);
            transition: background 0.3s;
            margin-left: toRem(15);

            &:hover{
                background: var(--gray-color);
            }
        }
    }


    .tableWrapper{
        overflow-x: scroll;
        padding: 0 0 toRem(20) 0;

        .table{
            table-layout: auto;

            th, td{
                text-align: center;
                padding: toRem(14);
            }

            label{
                position: relative;
                cursor: pointer;

                &::before{
                    content:'';
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    border: 2px solid var(--admin-checkbox-border-color);
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }

            input[type="checkbox"]{
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }

            input[type="checkbox"]:checked + label:after{
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                left: 8px;
                width: 6px;
                height: 14px;
                border: solid var(--admin-black-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

            thead{
                border-bottom: 2px solid var(--admin-border-silver);

                th{
                    width: 100%;
                    min-width: 170px;
                    font-family: var(--admin-table-heading-font-family);
                    font-weight: 500;
                    line-height: 22px;
                    font-size: toRem(14);
                    white-space: nowrap;
                    overflow: hidden;
                    color: var(--admin-th-color);
                    text-transform: capitalize;
                    cursor: pointer;
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 45%;
                        width: 0;
                        height: 0;
                        transform: translate(0, -100%);
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid var(--admin-border-light-silver);
                        transition: border 0.2s;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 55%;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid var(--admin-border-light-silver);
                        transition: border 0.2s;
                    }
    
                    &:first-child{
                        min-width: 58px;
                    }

                    &.asc{
                        &::before{
                            border-bottom: 5px solid var(--admin-text-color);
                        }
                    }

                    &.desc{
                        &::after{
                            border-top: 5px solid var(--admin-text-color);
                        }
                    }
                }
            }

            tbody{
                
                tr{
                    border-bottom: 1px solid var(--admin-border-light-silver);
                    transition: background 0.3s;

                    &:hover{
                        background: var(--admin-chart-bg);
                    }
                }

                td{
                    font-family: var(--admin-second-font-family);
                    font-size: toRem(14);
                    font-weight: 400;
                    line-height: 22px;
                    color: var(--admin-checkbox-border-color);
    
                    label{
                        &::before{
                            border-color: var(--admin-border-silver);
                        }
                    }
    
                    input[type="checkbox"]:checked + label::after{
                        top: 1px;
                    }
    
                    input[type="checkbox"]:checked + label::before{
                        border-color: var(--admin-checkbox-border-color);
                    }
                }
            }
        }
    }
}